<html>
  <head>
    <title>Thymeleaf</title>
    <meta charset="utf-8" />
  </head>
  <body>
      <h2>Product list</h2>
      <table>
        <thead>
          <tr th:each="products : ${listadeprodutos}">
            <th th:text="${products.description}">Description</th>
            <th th:text="${products.price}">Price</th>
            <th th:text="${products.availableFrom}">Available from</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>XXX</td>
            <td>XXX</td>
            <td>XXX</td>
          </tr>
        </tbody>
      </table>
  </body>
</html>
